In [1]:
import tensorflow as tf
from tensorflow import keras

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df = pd.read_csv('sonar.all-data.csv')

In [6]:
df.sample(5)

,Freq_1,Freq_2,Freq_3,Freq_4,Freq_5,Freq_6,Freq_7,Freq_8,Freq_9,Freq_10,...,Freq_52,Freq_53,Freq_54,Freq_55,Freq_56,Freq_57,Freq_58,Freq_59,Freq_60,Label
10,0.0039,0.0063,0.0152,0.0336,0.0310,0.0284,0.0396,0.0272,0.0323,0.0452,...,0.0062,0.0120,0.0052,0.0056,0.0093,0.0042,0.0003,0.0053,0.0036,R
40,0.0068,0.0232,0.0513,0.0444,0.0249,0.0637,0.0422,0.1130,0.1911,0.2475,...,0.0173,0.0163,0.0055,0.0045,0.0068,0.0041,0.0052,0.0194,0.0105,R
84,0.0378,0.0318,0.0423,0.0350,0.1787,0.1635,0.0887,0.0817,0.1779,0.2053,...,0.0046,0.0044,0.0078,0.0102,0.0065,0.0061,0.0062,0.0043,0.0053,R
171,0.0179,0.0136,0.0408,0.0633,0.0596,0.0808,0.2090,0.3465,0.5276,0.5965,...,0.0123,0.0060,0.0187,0.0111,0.0126,0.0081,0.0155,0.0160,0.0085,M
126,0.0715,0.0849,0.0587,0.0218,0.0862,0.1801,0.1916,0.1896,0.2960,0.4186,...,0.0153,0.0121,0.0096,0.0196,0.0042,0.0066,0.0099,0.0083,0.0124,M

In [7]:
df.isnull().sum()

Freq_1     0
Freq_2     0
Freq_3     0
Freq_4     0
Freq_5     0
          ..
Freq_57    0
Freq_58    0
Freq_59    0
Freq_60    0
Label      0
Length: 61, dtype: int64

In [8]:
from sklearn.decomposition import PCA

In [9]:
pca = PCA(n_components = 5)

In [11]:
df.dtypes

Freq_1     float64
Freq_2     float64
Freq_3     float64
Freq_4     float64
Freq_5     float64
            ...
Freq_57    float64
Freq_58    float64
Freq_59    float64
Freq_60    float64
Label       object
Length: 61, dtype: object

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
le = LabelEncoder()

In [14]:
df['label'] = le.fit_transform(df['Label'])

In [15]:
df.sample(5)

,Freq_1,Freq_2,Freq_3,Freq_4,Freq_5,Freq_6,Freq_7,Freq_8,Freq_9,Freq_10,...,Freq_53,Freq_54,Freq_55,Freq_56,Freq_57,Freq_58,Freq_59,Freq_60,Label,label
114,0.0114,0.0222,0.0269,0.0384,0.1217,0.2062,0.1489,0.0929,0.1350,0.1799,...,0.0152,0.0257,0.0097,0.0041,0.0050,0.0145,0.0103,0.0025,M,0
7,0.0519,0.0548,0.0842,0.0319,0.1158,0.0922,0.1027,0.0613,0.1465,0.2838,...,0.0120,0.0045,0.0121,0.0097,0.0085,0.0047,0.0048,0.0053,R,1
152,0.0131,0.0201,0.0045,0.0217,0.0230,0.0481,0.0742,0.0333,0.1369,0.2079,...,0.0086,0.0045,0.0062,0.0065,0.0030,0.0066,0.0029,0.0053,M,0
78,0.0231,0.0351,0.0030,0.0304,0.0339,0.0860,0.1738,0.1351,0.1063,0.0347,...,0.0097,0.0022,0.0052,0.0072,0.0056,0.0038,0.0043,0.0030,R,1
203,0.0187,0.0346,0.0168,0.0177,0.0393,0.1630,0.2028,0.1694,0.2328,0.2684,...,0.0098,0.0199,0.0033,0.0101,0.0065,0.0115,0.0193,0.0157,M,0

In [16]:
df1 = df.drop(columns = 'Label',axis = 'columns')

In [17]:
df1.dtypes

Freq_1     float64
Freq_2     float64
Freq_3     float64
Freq_4     float64
Freq_5     float64
            ...
Freq_57    float64
Freq_58    float64
Freq_59    float64
Freq_60    float64
label        int32
Length: 61, dtype: object

In [23]:
df2 = pca.fit_transform(df1[:-1])

In [24]:
df2 = pd.DataFrame(df2)

In [25]:
df2.head()

          0         1         2         3         4
0  0.674866  0.365282 -0.401509 -0.383893 -0.366040
1 -0.840104  1.105570 -0.537435  0.836365  0.373717
2 -0.235368  0.910657 -0.114010  0.242222  0.768410
3  0.935333  0.709276 -0.135479 -0.013071 -0.401677
4  0.038448  0.283234 -0.434940  0.640040  0.291297

In [27]:
df2['Label'] = df1['label']

In [28]:
df2.sample()

            0         1         2         3         4  Label
174 -0.505744 -0.336221  0.501753 -0.379637 -0.179111      0

In [ ]:
model = keras.Sequential(
    
    )